@import "../../variables";

.hero-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 80px;
  h1 {
      color: $main-title;
  }
}

.hero-img {
  width: 55%;
  display: block;
  margin-left: 15%;
  margin-top: 70px;
  position: relative;
  border-radius: 25px;
  box-shadow: -2px 5px 10px rgba(121, 121, 121, 0.671);
  z-index: 2;
}

.circle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
}

.pink {
  background: rgb(126, 57, 225);
  background: linear-gradient(
    49deg,
    rgba(126, 57, 225, 1) 17%,
    rgba(137, 52, 201, 1) 31%,
    rgba(181, 35, 108, 1) 84%
  );
  position: absolute;
  top: 1%;
  left: 4%;
}

.blue {
  background: rgb(89, 57, 225);
  background: linear-gradient(
    49deg,
    rgba(89, 57, 225, 1) 17%,
    rgba(58, 52, 201, 1) 31%,
    rgba(35, 132, 181, 1) 84%
  );
  position: absolute;
  right: 18%;
  top: 79%;
}

.text-container {
  background: white;
  border-radius: 25px;
  position: absolute;
  width: 30vw;
  word-wrap: break-word;
  padding: 30px;
  top: 8%;
  right: 3%;
  box-shadow: -1px 5px 8px rgba(121, 121, 121, 0.671);
  z-index: 3;
  text-align: center;
  p {
    line-height: 1.6;
    text-align: left;
  }
}

// Still need to add the rest of the images, overlays, and hover text
.introduction {
  margin-top: -12px;
  background: $theme-secondary;
  .container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    div:nth-child(1) {
      background-image: url("./images/starwars.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    div:nth-child(2) {
      background-image: url("./images/dining.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    div:nth-child(3) {
      background-image: url("./images/lodging.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    div {
      background: white;
      margin-bottom: 150px;
      border-radius: 20px;
      width: 30%;
      height: 300px;
      padding: 10px 10px 0px 10px;
      display: flex;

      h3 {
        align-self: flex-end;
        padding: 0;
        margin: 8px;
      }
    }
  }
}

// need ipad and mobile queries. Navbar. 

@media screen and (max-width: 1270px) {
  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .hero-img {
      position: static;
      margin: 0 auto;
      margin-top: 50px;
  }

  .text-container {
      position: static;
      width: 55%;
      margin: 0 auto;
      margin-top: 25px;
  }

  .blue {
      right: 8%;
      top: 88%;
  }

  .pink {
      top: 2%;
      left: 4%;
  }
}

@media screen and (max-width: 960px) {
}
