@import "../../variables";

nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-weight: 500;
  letter-spacing: 1.2px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding: 5px 0px;
  box-shadow: 0 4px 2px -2px #ececec;

  li {
    list-style-type: none;
    padding: 0px 25px;
  }

  ul {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    padding: 0;
    margin-bottom: 0;
    width: 100%;
  }
}

.logo {
  width: auto;
  height: 105px;
  margin: 0;
}

.login {
  margin-left: auto;
}

.menu {
  color:$theme-primary;
  position: absolute;
  top: 3.2rem;
  right: 1rem;
  display: none;
  border: none;

}

.navbar-links {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .menu {
    display: block;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;

    ul {
      align-items: flex-start;
      align-self: flex-start;
      flex-direction: column;
    }
    li {
      margin-bottom: 6px;
    }
  }

  .login {
    margin-left: 0;
  }

  .active {
    display: flex;
    background: #f9f9f9;
    margin-bottom: -4px;
  }
}