// Need to resize images to have the same height! 

.park-selection {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.park {
    width: 50%;
    flex: 50%;
    margin-bottom: 20px;
    .image-container {
        width: 80%;
        img {
            width: 100%;
            border-radius: 20px;
        }
    }
}


.btn-container {
    .btn:nth-child(2) {
        margin-left: 25px;
    }       
}