// Each park will have the h2 on the image similar to the homepage and on hover there is the description.
// Need to resize images to have the same height! 
// Need to add disabled buttons based on whether a user is logged in or not

.park-selection {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.park {
    width: 50%;
    flex: 50%;
    .image-container {
        width: 80%;
        img {
            width: 100%;
            border-radius: 20px;
        }
    }
}