@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Noto+Serif&display=swap');

$theme-primary: #da3c90;
$theme-secondary: #8336d7;

$title: 'Noto Serif', serif;
$body: 'Lato', sans-serif;

$main-title: #5a67b0;
$body-text: #333;

$disabled: #d8d8d8;