@import "./variables";

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Buttons
.btn {
  border-radius: 25px;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: white;
  transition: all 0.3s ease 0s;
  border: 0;
  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
}

.btn-primary {
  background: $theme-primary;
  &:hover {
    background: $theme-secondary;
  }
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }

}
@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}